<div class="offcanvas offcanvas-end container" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel" [class.show]="offCanvasNewPrestamo">
  <div class="offcanvas-header">
    <h1 class="offcanvas-title" id="offcanvasExampleLabel">Nuevo Prestamo</h1>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <div class="container m-3">
      <div class="row p-2">
        <div class="col-lg-12 col-md-12 col-sm-12">
          <h3 id="cliente">{{cliente.apellidos | uppercase}}, {{cliente.nombres}}</h3>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12">
          <h3 id="scoring">Scoring: {{cliente.scoring}}</h3>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12">
          <h3 id="indiceInteres">Beneficio: {{cliente.beneficioScoring | percent}}</h3>
        </div>
      </div>
      <div *ngIf="cliente.scoring > 1">
        <form [formGroup]="form">
          <div class="row p-2">
            <div class="col-lg-12 col-md-12 col-sm-12 py-2">
              <label for="idEntidadFinanciera">Entidad Financiera:</label>
              <select class="form-select form-select form-select-sm" id="idEntidadFinanciera" formControlName="idEntidadFinanciera" required [class.red-icon]="this.form.get('idEntidadFinanciera')?.invalid">
                <option [ngValue]="null"></option>
                <option *ngFor="let ef of entidadesF" [ngValue]="ef.id">{{ ef.descripcion }}</option>
              </select>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 py-2">
              <label for="montoOtorgado">Monto a otorgar:</label>
              <input type="number" class="form-control form-control-sm" id="montoOtorgado" formControlName="montoOtorgado" required [class.red-icon]="this.form.get('montoOtorgado')?.invalid">
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 py-2">
              <label for="cuotas">Cantidad de Cuotas:</label>
              <select class="form-select form-select-sm" id="cuotas" formControlName="cuotas" required [class.red-icon]="this.form.get('cuotas')?.invalid">
                <option [ngValue]="null"></option>
                <option *ngFor="let ct of cuotas" [ngValue]="ct">{{ ct }}</option>
              </select>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 py-2">
              <label for="diaVencimientoCuota">Dia de vencimiento:</label>
              <select class="form-select form-select-sm" id="diaVencimientoCuota" formControlName="diaVencimientoCuota" required [class.red-icon]="this.form.get('diaVencimientoCuota')?.invalid">
                <option [ngValue]="null"></option>
                <option *ngFor="let d of diaVenc" [ngValue]="d">{{ d }}</option>
              </select>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 py-2">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" id="refinanciaDeuda" formControlName="refinanciaDeuda">
                <label class="form-check-label" for="refinanciaDeuda">Refinancia deuda</label>
              </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 py-2" *ngIf="this.form.get('refinanciaDeuda')?.value === true">
              <label for="prestamoRef">Prestamo a refinanciar:</label>
              <select class="form-select form-select-sm" id="prestamoRef" formControlName="idPrestamoRefinanciado" [class.red-icon]="this.form.get('idPrestamoRefinanciado')?.invalid">
                <option [ngValue]=""></option>
                <option *ngFor="let p of prestamos" [ngValue]="p.idPrestamo">{{ p.idPrestamo }}</option>
              </select>
            </div>
          </div>
        </form>
      </div>
      <div *ngIf="cliente.scoring === 1">
        <h2>EL cliente no esta habilitado en este momento para recibir un nuevo prestamo.</h2>
        <h4> Scoring: 1</h4>
        <h4>No cuenta con los puntos necesarios para la transacción. Revisar posibles deudas o incumplimientos.</h4>
      </div>
      <div class="row p-1 mt-5">
        <div class="col-lg-12 col-md-12 col-sm-12">
          <h5 id="cliente">
            Monto a devolver: {{(((dolar.indice - cliente.beneficioScoring)*this.form.get('cuotas')?.value)*this.form.get('montoOtorgado')?.value 
            + this.form.get('montoOtorgado')?.value)  | currency:'ARS':'symbol-narrow':'1.2-2'}}</h5>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12">
          <h5 id="scoring">CFT: {{(dolar.indice - cliente.beneficioScoring) *this.form.get('cuotas')?.value | percent}}</h5>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12">
          <h5 id="indiceInteres">Indice: {{dolar.indice | percent }}</h5>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12">
          <h5 id="indiceInteres">Indice con beneficio por Scoring: {{dolar.indice - cliente.beneficioScoring | percent }}</h5>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12">
          <h5 id="cliente">
            Monto por cuota: {{(((dolar.indice - cliente.beneficioScoring)*this.form.get('cuotas')?.value)*this.form.get('montoOtorgado')?.value 
            + this.form.get('montoOtorgado')?.value) / this.form.get('cuotas')?.value  | currency:'ARS':'symbol-narrow':'1.2-2'}}</h5>
        </div>
      </div>
      <div class="row">
        <button type="button" class="btn button-primary-action" (click)="registrarPrestamo()">Enviar</button>
      </div>
    </div>
  </div>
</div>
