<div class="conteiner px-5">
    <div class="row">
        <div class="col m-3 chart-container">
            <app-reporte-balance-recomendacion></app-reporte-balance-recomendacion>
        </div>
        <div class="col m-3 chart-container">
            <app-reporte-recaudacion-mensual></app-reporte-recaudacion-mensual>
        </div>
        <div class="col m-3 chart-container">
            <app-reporte-cuotas></app-reporte-cuotas>
        </div>
    </div> 
    <div class="row">
        <div class="col m-3 chart-container">
            <app-reporte-variacion-dolar-indice></app-reporte-variacion-dolar-indice>
        </div>
        <div class="col m-3 chart-container">
            <app-reporte-clientes-prestamos></app-reporte-clientes-prestamos>
        </div>
    </div>
</div>

   
<!-- <div class="p-4">
    <app-reporte-balance-recomendacion></app-reporte-balance-recomendacion>
</div> -->
